{%- if settings.popup_mailchimp_show -%}
<div id="popup-mailchimp" class="popup-modal roar-popup">
  <div class="popup-backdrop"></div>
  <div class="popup-content">
    <a href="#" class="close-modal"> <i class="icon-cross"></i> </a>
    <div class="popup-container">
      {%- if settings.popup_mailchimp_img -%}
      <div class="popup-inner popup-image">
        <img src="{{ settings.popup_mailchimp_img | img_url: 'master' }}" alt="" />
      </div>
      {%- endif -%}
      <div class="popup-inner">
        <div class="popup-wrap">
          {%- capture mailchimpHeading -%}{{ 'general.mailchimp_popup.heading_html' | t }}{%- endcapture -%}
          {%- if mailchimpHeading != '' -%}
          <h3 class="inner-heading">{{ mailchimpHeading }}</h3>
          {%- endif -%}
          
          {%- capture mailchimpContent -%}{{ 'general.mailchimp_popup.content_html' | t }}{%- endcapture -%}
          {%- if mailchimpContent != '' -%}
          <div class="inner-content">{{ mailchimpContent }}</div>
          {%- endif -%}
          
          <form id="mc-form" class="newsletter" action="{{ settings.popup_mailchimp_action }}" method="POST" name="mc-embedded-subscribe-form" target="_blank">
            <input id="mc-email" class="email" type="email" name="EMAIL" placeholder="{{ 'general.mailchimp_popup.enter_your_email' | t }}" required="required" />
            <button id="mc-submit" class="button btn1 bshadow subscribe" type="submit"><span>{{ 'general.mailchimp_popup.subscribe' | t }}</span></button>
            <label for="mc-email"></label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}